<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEstudiantesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <center>
            <center><img src="../img/itsgg.png"/></center>
            <p:outputLabel>INGRESA TUS DATOS</p:outputLabel>
            <br></br>
            <br></br>
            </center>
        <center>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEstudiantesLabel_idEstudiantes}" for="idEstudiantes" />
                    <h:inputText id="idEstudiantes" value="#{estudiantesController.selected.idEstudiantes}" title="#{bundle.CreateEstudiantesTitle_idEstudiantes}" required="true" requiredMessage="#{bundle.CreateEstudiantesRequiredMessage_idEstudiantes}"/>
                    <h:outputLabel value="#{bundle.CreateEstudiantesLabel_nombresE}" for="nombresE" />
                    <h:inputText id="nombresE" value="#{estudiantesController.selected.nombresE}" title="#{bundle.CreateEstudiantesTitle_nombresE}" required="true" requiredMessage="#{bundle.CreateEstudiantesRequiredMessage_nombresE}"/>
                    <h:outputLabel value="#{bundle.CreateEstudiantesLabel_cursoE}" for="cursoE" />
                    <h:inputText id="cursoE" value="#{estudiantesController.selected.cursoE}" title="#{bundle.CreateEstudiantesTitle_cursoE}" required="true" requiredMessage="#{bundle.CreateEstudiantesRequiredMessage_cursoE}"/>
                    <h:outputLabel value="#{bundle.CreateEstudiantesLabel_paraleloE}" for="paraleloE" />
                    <h:inputText id="paraleloE" value="#{estudiantesController.selected.paraleloE}" title="#{bundle.CreateEstudiantesTitle_paraleloE}" required="true" requiredMessage="#{bundle.CreateEstudiantesRequiredMessage_paraleloE}"/>
                    <h:outputLabel value="#{bundle.CreateEstudiantesLabel_correoE}" for="correoE" />
                    <h:inputText id="correoE" value="#{estudiantesController.selected.correoE}" title="#{bundle.CreateEstudiantesTitle_correoE}" required="true" requiredMessage="#{bundle.CreateEstudiantesRequiredMessage_correoE}"/>
                </h:panelGrid>
            </center>
                <center>
                <br />
                <h:commandLink action="#{estudiantesController.create}" value="#{bundle.CreateEstudiantesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{estudiantesController.prepareList}" value="#{bundle.CreateEstudiantesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEstudiantesIndexLink}"/>
                </center>
            </h:form>
           </ui:define>
         </ui:composition>
       
</html>
