<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEstudiantesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEstudiantesLabel_idEstudiantes}" for="idEstudiantes" />
                    <h:inputText id="idEstudiantes" value="#{estudiantesController.selected.idEstudiantes}" title="#{bundle.EditEstudiantesTitle_idEstudiantes}" required="true" requiredMessage="#{bundle.EditEstudiantesRequiredMessage_idEstudiantes}"/>
                    <h:outputLabel value="#{bundle.EditEstudiantesLabel_nombresE}" for="nombresE" />
                    <h:inputText id="nombresE" value="#{estudiantesController.selected.nombresE}" title="#{bundle.EditEstudiantesTitle_nombresE}" required="true" requiredMessage="#{bundle.EditEstudiantesRequiredMessage_nombresE}"/>
                    <h:outputLabel value="#{bundle.EditEstudiantesLabel_cursoE}" for="cursoE" />
                    <h:inputText id="cursoE" value="#{estudiantesController.selected.cursoE}" title="#{bundle.EditEstudiantesTitle_cursoE}" required="true" requiredMessage="#{bundle.EditEstudiantesRequiredMessage_cursoE}"/>
                    <h:outputLabel value="#{bundle.EditEstudiantesLabel_paraleloE}" for="paraleloE" />
                    <h:inputText id="paraleloE" value="#{estudiantesController.selected.paraleloE}" title="#{bundle.EditEstudiantesTitle_paraleloE}" required="true" requiredMessage="#{bundle.EditEstudiantesRequiredMessage_paraleloE}"/>
                    <h:outputLabel value="#{bundle.EditEstudiantesLabel_correoE}" for="correoE" />
                    <h:inputText id="correoE" value="#{estudiantesController.selected.correoE}" title="#{bundle.EditEstudiantesTitle_correoE}" required="true" requiredMessage="#{bundle.EditEstudiantesRequiredMessage_correoE}"/>
                </h:panelGrid>
                <h:commandLink action="#{estudiantesController.update}" value="#{bundle.EditEstudiantesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEstudiantesViewLink}"/>
                <br />
                <h:commandLink action="#{estudiantesController.prepareList}" value="#{bundle.EditEstudiantesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEstudiantesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
