<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstudiantesTitle}"></h:outputText>
        </ui:define>
        
        <ui:define name="body">
            <center>
                <img src="../img/estudiante-icono1.png" width="150" height="250"/>
             </center>
         <center>
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>

                <h:outputText escape="false" value="#{bundle.ListEstudiantesEmpty}" rendered="#{estudiantesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estudiantesController.items.rowCount > 0}">
                    <h:outputText value="#{estudiantesController.pagination.pageFirstItem + 1}..#{estudiantesController.pagination.pageLastItem + 1}/#{estudiantesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estudiantesController.previous}" value="#{bundle.Previous} #{estudiantesController.pagination.pageSize}" rendered="#{estudiantesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estudiantesController.next}" value="#{bundle.Next} #{estudiantesController.pagination.pageSize}" rendered="#{estudiantesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estudiantesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                       
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudiantesTitle_idEstudiantes}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEstudiantes}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudiantesTitle_nombresE}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombresE}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudiantesTitle_cursoE}"/>
                            </f:facet>
                            <h:outputText value="#{item.cursoE}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudiantesTitle_paraleloE}"/>
                            </f:facet>
                            <h:outputText value="#{item.paraleloE}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudiantesTitle_correoE}"/>
                            </f:facet>
                            <h:outputText value="#{item.correoE}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estudiantesController.prepareView}" value="#{bundle.ListEstudiantesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estudiantesController.prepareEdit}" value="#{bundle.ListEstudiantesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estudiantesController.destroy}" value="#{bundle.ListEstudiantesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estudiantesController.prepareCreate}" value="#{bundle.ListEstudiantesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstudiantesIndexLink}"/>
            </h:form>
</center>
        </ui:define>
    </ui:composition>

</html>
