<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstudiantesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstudiantesLabel_idEstudiantes}"/>
                    <h:outputText value="#{estudiantesController.selected.idEstudiantes}" title="#{bundle.ViewEstudiantesTitle_idEstudiantes}"/>
                    <h:outputText value="#{bundle.ViewEstudiantesLabel_nombresE}"/>
                    <h:outputText value="#{estudiantesController.selected.nombresE}" title="#{bundle.ViewEstudiantesTitle_nombresE}"/>
                    <h:outputText value="#{bundle.ViewEstudiantesLabel_cursoE}"/>
                    <h:outputText value="#{estudiantesController.selected.cursoE}" title="#{bundle.ViewEstudiantesTitle_cursoE}"/>
                    <h:outputText value="#{bundle.ViewEstudiantesLabel_paraleloE}"/>
                    <h:outputText value="#{estudiantesController.selected.paraleloE}" title="#{bundle.ViewEstudiantesTitle_paraleloE}"/>
                    <h:outputText value="#{bundle.ViewEstudiantesLabel_correoE}"/>
                    <h:outputText value="#{estudiantesController.selected.correoE}" title="#{bundle.ViewEstudiantesTitle_correoE}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estudiantesController.destroyAndView}" value="#{bundle.ViewEstudiantesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstudiantesEditLink}"/>
                <br />
                <h:commandLink action="#{estudiantesController.prepareCreate}" value="#{bundle.ViewEstudiantesCreateLink}" />
                <br />
                <h:commandLink action="#{estudiantesController.prepareList}" value="#{bundle.ViewEstudiantesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstudiantesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
