<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
  

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePreguntasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePreguntasLabel_idPreguntas}" for="idPreguntas" />
                    <h:inputText id="idPreguntas" value="#{preguntasController.selected.idPreguntas}" title="#{bundle.CreatePreguntasTitle_idPreguntas}" required="true" requiredMessage="#{bundle.CreatePreguntasRequiredMessage_idPreguntas}"/>
                    <h:outputLabel value="#{bundle.CreatePreguntasLabel_tituloPreguntas}" for="tituloPreguntas" />
                    <h:inputText id="tituloPreguntas" value="#{preguntasController.selected.tituloPreguntas}" title="#{bundle.CreatePreguntasTitle_tituloPreguntas}" required="true" requiredMessage="#{bundle.CreatePreguntasRequiredMessage_tituloPreguntas}"/>
                    <h:outputLabel value="#{bundle.CreatePreguntasLabel_enunciado}" for="enunciado" />
                    <h:inputTextarea rows="4" cols="30" id="enunciado" value="#{preguntasController.selected.enunciado}" title="#{bundle.CreatePreguntasTitle_enunciado}" required="true" requiredMessage="#{bundle.CreatePreguntasRequiredMessage_enunciado}"/>
                    <h:outputLabel value="#{bundle.CreatePreguntasLabel_idProfesor}" for="idProfesor" />
                    <h:selectOneMenu id="idProfesor" value="#{preguntasController.selected.idProfesor}" title="#{bundle.CreatePreguntasTitle_idProfesor}" >
                        <f:selectItems value="#{profesorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePreguntasLabel_idQuiz}" for="idQuiz" />
                    <h:selectOneMenu id="idQuiz" value="#{preguntasController.selected.idQuiz}" title="#{bundle.CreatePreguntasTitle_idQuiz}" >
                        <f:selectItems value="#{quizController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePreguntasLabel_idRespuestas}" for="idRespuestas" />
                    <h:selectOneMenu id="idRespuestas" value="#{preguntasController.selected.idRespuestas}" title="#{bundle.CreatePreguntasTitle_idRespuestas}" >
                        <f:selectItems value="#{respuestasController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{preguntasController.create}" value="#{bundle.CreatePreguntasSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{preguntasController.prepareList}" value="#{bundle.CreatePreguntasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePreguntasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
