<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPreguntasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
             <center>
                <img src="../img/icon-notas.png" width="150" height="250"/>
             </center>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <center><h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPreguntasLabel_idPreguntas}" for="idPreguntas" />
                    <h:inputText id="idPreguntas" value="#{preguntasController.selected.idPreguntas}" title="#{bundle.EditPreguntasTitle_idPreguntas}" required="true" requiredMessage="#{bundle.EditPreguntasRequiredMessage_idPreguntas}"/>
                    <h:outputLabel value="#{bundle.EditPreguntasLabel_tituloPreguntas}" for="tituloPreguntas" />
                    <h:inputText id="tituloPreguntas" value="#{preguntasController.selected.tituloPreguntas}" title="#{bundle.EditPreguntasTitle_tituloPreguntas}" required="true" requiredMessage="#{bundle.EditPreguntasRequiredMessage_tituloPreguntas}"/>
                    <h:outputLabel value="#{bundle.EditPreguntasLabel_enunciado}" for="enunciado" />
                    <h:inputTextarea rows="4" cols="30" id="enunciado" value="#{preguntasController.selected.enunciado}" title="#{bundle.EditPreguntasTitle_enunciado}" required="true" requiredMessage="#{bundle.EditPreguntasRequiredMessage_enunciado}"/>
                    <h:outputLabel value="#{bundle.EditPreguntasLabel_idProfesor}" for="idProfesor" />
                    <h:selectOneMenu id="idProfesor" value="#{preguntasController.selected.idProfesor}" title="#{bundle.EditPreguntasTitle_idProfesor}" >
                        <f:selectItems value="#{profesorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPreguntasLabel_idQuiz}" for="idQuiz" />
                    <h:selectOneMenu id="idQuiz" value="#{preguntasController.selected.idQuiz}" title="#{bundle.EditPreguntasTitle_idQuiz}" >
                        <f:selectItems value="#{quizController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPreguntasLabel_idRespuestas}" for="idRespuestas" />
                    <h:selectOneMenu id="idRespuestas" value="#{preguntasController.selected.idRespuestas}" title="#{bundle.EditPreguntasTitle_idRespuestas}" >
                        <f:selectItems value="#{respuestasController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{preguntasController.update}" value="#{bundle.EditPreguntasSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPreguntasViewLink}"/>
                <br />
                <h:commandLink action="#{preguntasController.prepareList}" value="#{bundle.EditPreguntasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPreguntasIndexLink}" />
                </h:form></center>
        </ui:define>
    </ui:composition>

</html>
