<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPreguntasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPreguntasEmpty}" rendered="#{preguntasController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{preguntasController.items.rowCount > 0}">
                    <h:outputText value="#{preguntasController.pagination.pageFirstItem + 1}..#{preguntasController.pagination.pageLastItem + 1}/#{preguntasController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{preguntasController.previous}" value="#{bundle.Previous} #{preguntasController.pagination.pageSize}" rendered="#{preguntasController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{preguntasController.next}" value="#{bundle.Next} #{preguntasController.pagination.pageSize}" rendered="#{preguntasController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{preguntasController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntasTitle_idPreguntas}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPreguntas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntasTitle_tituloPreguntas}"/>
                            </f:facet>
                            <h:outputText value="#{item.tituloPreguntas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntasTitle_enunciado}"/>
                            </f:facet>
                            <h:outputText value="#{item.enunciado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntasTitle_idProfesor}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProfesor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntasTitle_idQuiz}"/>
                            </f:facet>
                            <h:outputText value="#{item.idQuiz}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntasTitle_idRespuestas}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRespuestas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{preguntasController.prepareView}" value="#{bundle.ListPreguntasViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{preguntasController.prepareEdit}" value="#{bundle.ListPreguntasEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{preguntasController.destroy}" value="#{bundle.ListPreguntasDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{preguntasController.prepareCreate}" value="#{bundle.ListPreguntasCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPreguntasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
