<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPreguntasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPreguntasLabel_idPreguntas}"/>
                    <h:outputText value="#{preguntasController.selected.idPreguntas}" title="#{bundle.ViewPreguntasTitle_idPreguntas}"/>
                    <h:outputText value="#{bundle.ViewPreguntasLabel_tituloPreguntas}"/>
                    <h:outputText value="#{preguntasController.selected.tituloPreguntas}" title="#{bundle.ViewPreguntasTitle_tituloPreguntas}"/>
                    <h:outputText value="#{bundle.ViewPreguntasLabel_enunciado}"/>
                    <h:outputText value="#{preguntasController.selected.enunciado}" title="#{bundle.ViewPreguntasTitle_enunciado}"/>
                    <h:outputText value="#{bundle.ViewPreguntasLabel_idProfesor}"/>
                    <h:outputText value="#{preguntasController.selected.idProfesor}" title="#{bundle.ViewPreguntasTitle_idProfesor}"/>
                    <h:outputText value="#{bundle.ViewPreguntasLabel_idQuiz}"/>
                    <h:outputText value="#{preguntasController.selected.idQuiz}" title="#{bundle.ViewPreguntasTitle_idQuiz}"/>
                    <h:outputText value="#{bundle.ViewPreguntasLabel_idRespuestas}"/>
                    <h:outputText value="#{preguntasController.selected.idRespuestas}" title="#{bundle.ViewPreguntasTitle_idRespuestas}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{preguntasController.destroyAndView}" value="#{bundle.ViewPreguntasDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPreguntasEditLink}"/>
                <br />
                <h:commandLink action="#{preguntasController.prepareCreate}" value="#{bundle.ViewPreguntasCreateLink}" />
                <br />
                <h:commandLink action="#{preguntasController.prepareList}" value="#{bundle.ViewPreguntasShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPreguntasIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
