<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRespuestasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateRespuestasLabel_idRespuestas}" for="idRespuestas" />
                    <h:inputText id="idRespuestas" value="#{respuestasController.selected.idRespuestas}" title="#{bundle.CreateRespuestasTitle_idRespuestas}" required="true" requiredMessage="#{bundle.CreateRespuestasRequiredMessage_idRespuestas}"/>
                    <h:outputLabel value="#{bundle.CreateRespuestasLabel_opcion1}" for="opcion1" />
                    <h:inputText id="opcion1" value="#{respuestasController.selected.opcion1}" title="#{bundle.CreateRespuestasTitle_opcion1}" required="true" requiredMessage="#{bundle.CreateRespuestasRequiredMessage_opcion1}"/>
                    <h:outputLabel value="#{bundle.CreateRespuestasLabel_opcion2}" for="opcion2" />
                    <h:inputText id="opcion2" value="#{respuestasController.selected.opcion2}" title="#{bundle.CreateRespuestasTitle_opcion2}" required="true" requiredMessage="#{bundle.CreateRespuestasRequiredMessage_opcion2}"/>
                    <h:outputLabel value="#{bundle.CreateRespuestasLabel_opcion3}" for="opcion3" />
                    <h:inputText id="opcion3" value="#{respuestasController.selected.opcion3}" title="#{bundle.CreateRespuestasTitle_opcion3}" required="true" requiredMessage="#{bundle.CreateRespuestasRequiredMessage_opcion3}"/>
                    <h:outputLabel value="#{bundle.CreateRespuestasLabel_respuestaCorrecta}" for="respuestaCorrecta" />
                    <h:inputText id="respuestaCorrecta" value="#{respuestasController.selected.respuestaCorrecta}" title="#{bundle.CreateRespuestasTitle_respuestaCorrecta}" required="true" requiredMessage="#{bundle.CreateRespuestasRequiredMessage_respuestaCorrecta}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{respuestasController.create}" value="#{bundle.CreateRespuestasSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{respuestasController.prepareList}" value="#{bundle.CreateRespuestasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateRespuestasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
