<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRespuestasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRespuestasLabel_idRespuestas}" for="idRespuestas" />
                    <h:inputText id="idRespuestas" value="#{respuestasController.selected.idRespuestas}" title="#{bundle.EditRespuestasTitle_idRespuestas}" required="true" requiredMessage="#{bundle.EditRespuestasRequiredMessage_idRespuestas}"/>
                    <h:outputLabel value="#{bundle.EditRespuestasLabel_opcion1}" for="opcion1" />
                    <h:inputText id="opcion1" value="#{respuestasController.selected.opcion1}" title="#{bundle.EditRespuestasTitle_opcion1}" required="true" requiredMessage="#{bundle.EditRespuestasRequiredMessage_opcion1}"/>
                    <h:outputLabel value="#{bundle.EditRespuestasLabel_opcion2}" for="opcion2" />
                    <h:inputText id="opcion2" value="#{respuestasController.selected.opcion2}" title="#{bundle.EditRespuestasTitle_opcion2}" required="true" requiredMessage="#{bundle.EditRespuestasRequiredMessage_opcion2}"/>
                    <h:outputLabel value="#{bundle.EditRespuestasLabel_opcion3}" for="opcion3" />
                    <h:inputText id="opcion3" value="#{respuestasController.selected.opcion3}" title="#{bundle.EditRespuestasTitle_opcion3}" required="true" requiredMessage="#{bundle.EditRespuestasRequiredMessage_opcion3}"/>
                    <h:outputLabel value="#{bundle.EditRespuestasLabel_respuestaCorrecta}" for="respuestaCorrecta" />
                    <h:inputText id="respuestaCorrecta" value="#{respuestasController.selected.respuestaCorrecta}" title="#{bundle.EditRespuestasTitle_respuestaCorrecta}" required="true" requiredMessage="#{bundle.EditRespuestasRequiredMessage_respuestaCorrecta}"/>
                </h:panelGrid>
                <h:commandLink action="#{respuestasController.update}" value="#{bundle.EditRespuestasSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditRespuestasViewLink}"/>
                <br />
                <h:commandLink action="#{respuestasController.prepareList}" value="#{bundle.EditRespuestasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditRespuestasIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
