<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRespuestasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRespuestasEmpty}" rendered="#{respuestasController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{respuestasController.items.rowCount > 0}">
                    <h:outputText value="#{respuestasController.pagination.pageFirstItem + 1}..#{respuestasController.pagination.pageLastItem + 1}/#{respuestasController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{respuestasController.previous}" value="#{bundle.Previous} #{respuestasController.pagination.pageSize}" rendered="#{respuestasController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{respuestasController.next}" value="#{bundle.Next} #{respuestasController.pagination.pageSize}" rendered="#{respuestasController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{respuestasController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestasTitle_idRespuestas}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRespuestas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestasTitle_opcion1}"/>
                            </f:facet>
                            <h:outputText value="#{item.opcion1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestasTitle_opcion2}"/>
                            </f:facet>
                            <h:outputText value="#{item.opcion2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestasTitle_opcion3}"/>
                            </f:facet>
                            <h:outputText value="#{item.opcion3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestasTitle_respuestaCorrecta}"/>
                            </f:facet>
                            <h:outputText value="#{item.respuestaCorrecta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{respuestasController.prepareView}" value="#{bundle.ListRespuestasViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{respuestasController.prepareEdit}" value="#{bundle.ListRespuestasEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{respuestasController.destroy}" value="#{bundle.ListRespuestasDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{respuestasController.prepareCreate}" value="#{bundle.ListRespuestasCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRespuestasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
