<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRespuestasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRespuestasLabel_idRespuestas}"/>
                    <h:outputText value="#{respuestasController.selected.idRespuestas}" title="#{bundle.ViewRespuestasTitle_idRespuestas}"/>
                    <h:outputText value="#{bundle.ViewRespuestasLabel_opcion1}"/>
                    <h:outputText value="#{respuestasController.selected.opcion1}" title="#{bundle.ViewRespuestasTitle_opcion1}"/>
                    <h:outputText value="#{bundle.ViewRespuestasLabel_opcion2}"/>
                    <h:outputText value="#{respuestasController.selected.opcion2}" title="#{bundle.ViewRespuestasTitle_opcion2}"/>
                    <h:outputText value="#{bundle.ViewRespuestasLabel_opcion3}"/>
                    <h:outputText value="#{respuestasController.selected.opcion3}" title="#{bundle.ViewRespuestasTitle_opcion3}"/>
                    <h:outputText value="#{bundle.ViewRespuestasLabel_respuestaCorrecta}"/>
                    <h:outputText value="#{respuestasController.selected.respuestaCorrecta}" title="#{bundle.ViewRespuestasTitle_respuestaCorrecta}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{respuestasController.destroyAndView}" value="#{bundle.ViewRespuestasDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRespuestasEditLink}"/>
                <br />
                <h:commandLink action="#{respuestasController.prepareCreate}" value="#{bundle.ViewRespuestasCreateLink}" />
                <br />
                <h:commandLink action="#{respuestasController.prepareList}" value="#{bundle.ViewRespuestasShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRespuestasIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
