<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditNotaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditNotaLabel_idNota}" for="idNota" />
                    <h:inputText id="idNota" value="#{notaController.selected.idNota}" title="#{bundle.EditNotaTitle_idNota}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_idNota}"/>
                    <h:outputLabel value="#{bundle.EditNotaLabel_nota}" for="nota" />
                    <h:inputText id="nota" value="#{notaController.selected.nota}" title="#{bundle.EditNotaTitle_nota}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_nota}"/>
                    <h:outputLabel value="#{bundle.EditNotaLabel_idEstudiantes}" for="idEstudiantes" />
                    <h:selectOneMenu id="idEstudiantes" value="#{notaController.selected.idEstudiantes}" title="#{bundle.EditNotaTitle_idEstudiantes}" >
                        <f:selectItems value="#{estudiantesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditNotaLabel_idQuiz}" for="idQuiz" />
                    <h:selectOneMenu id="idQuiz" value="#{notaController.selected.idQuiz}" title="#{bundle.EditNotaTitle_idQuiz}" >
                        <f:selectItems value="#{quizController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{notaController.update}" value="#{bundle.EditNotaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditNotaViewLink}"/>
                <br />
                <h:commandLink action="#{notaController.prepareList}" value="#{bundle.EditNotaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditNotaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
