<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewNotaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewNotaLabel_idNota}"/>
                    <h:outputText value="#{notaController.selected.idNota}" title="#{bundle.ViewNotaTitle_idNota}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_nota}"/>
                    <h:outputText value="#{notaController.selected.nota}" title="#{bundle.ViewNotaTitle_nota}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_idEstudiantes}"/>
                    <h:outputText value="#{notaController.selected.idEstudiantes}" title="#{bundle.ViewNotaTitle_idEstudiantes}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_idQuiz}"/>
                    <h:outputText value="#{notaController.selected.idQuiz}" title="#{bundle.ViewNotaTitle_idQuiz}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{notaController.destroyAndView}" value="#{bundle.ViewNotaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewNotaEditLink}"/>
                <br />
                <h:commandLink action="#{notaController.prepareCreate}" value="#{bundle.ViewNotaCreateLink}" />
                <br />
                <h:commandLink action="#{notaController.prepareList}" value="#{bundle.ViewNotaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewNotaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
