<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListQuizTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListQuizEmpty}" rendered="#{quizController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{quizController.items.rowCount > 0}">
                    <h:outputText value="#{quizController.pagination.pageFirstItem + 1}..#{quizController.pagination.pageLastItem + 1}/#{quizController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{quizController.previous}" value="#{bundle.Previous} #{quizController.pagination.pageSize}" rendered="#{quizController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{quizController.next}" value="#{bundle.Next} #{quizController.pagination.pageSize}" rendered="#{quizController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{quizController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuizTitle_idQuiz}"/>
                            </f:facet>
                            <h:outputText value="#{item.idQuiz}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuizTitle_fechaCreacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaCreacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuizTitle_fechaModificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaModificacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuizTitle_numPreguntas}"/>
                            </f:facet>
                            <h:outputText value="#{item.numPreguntas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{quizController.prepareView}" value="#{bundle.ListQuizViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{quizController.prepareEdit}" value="#{bundle.ListQuizEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{quizController.destroy}" value="#{bundle.ListQuizDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{quizController.prepareCreate}" value="#{bundle.ListQuizCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListQuizIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
