<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewQuizTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewQuizLabel_idQuiz}"/>
                    <h:outputText value="#{quizController.selected.idQuiz}" title="#{bundle.ViewQuizTitle_idQuiz}"/>
                    <h:outputText value="#{bundle.ViewQuizLabel_fechaCreacion}"/>
                    <h:outputText value="#{quizController.selected.fechaCreacion}" title="#{bundle.ViewQuizTitle_fechaCreacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewQuizLabel_fechaModificacion}"/>
                    <h:outputText value="#{quizController.selected.fechaModificacion}" title="#{bundle.ViewQuizTitle_fechaModificacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewQuizLabel_numPreguntas}"/>
                    <h:outputText value="#{quizController.selected.numPreguntas}" title="#{bundle.ViewQuizTitle_numPreguntas}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{quizController.destroyAndView}" value="#{bundle.ViewQuizDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewQuizEditLink}"/>
                <br />
                <h:commandLink action="#{quizController.prepareCreate}" value="#{bundle.ViewQuizCreateLink}" />
                <br />
                <h:commandLink action="#{quizController.prepareList}" value="#{bundle.ViewQuizShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewQuizIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
