<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProfesorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_idProfesor}" for="idProfesor" />
                    <h:inputText id="idProfesor" value="#{profesorController.selected.idProfesor}" title="#{bundle.CreateProfesorTitle_idProfesor}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_idProfesor}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_nombresP}" for="nombresP" />
                    <h:inputText id="nombresP" value="#{profesorController.selected.nombresP}" title="#{bundle.CreateProfesorTitle_nombresP}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_nombresP}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_cursoP}" for="cursoP" />
                    <h:inputText id="cursoP" value="#{profesorController.selected.cursoP}" title="#{bundle.CreateProfesorTitle_cursoP}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_cursoP}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_paraleloP}" for="paraleloP" />
                    <h:inputText id="paraleloP" value="#{profesorController.selected.paraleloP}" title="#{bundle.CreateProfesorTitle_paraleloP}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_paraleloP}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_correoP}" for="correoP" />
                    <h:inputText id="correoP" value="#{profesorController.selected.correoP}" title="#{bundle.CreateProfesorTitle_correoP}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_correoP}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{profesorController.create}" value="#{bundle.CreateProfesorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{profesorController.prepareList}" value="#{bundle.CreateProfesorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProfesorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
