<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProfesorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProfesorLabel_idProfesor}" for="idProfesor" />
                    <h:inputText id="idProfesor" value="#{profesorController.selected.idProfesor}" title="#{bundle.EditProfesorTitle_idProfesor}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_idProfesor}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_nombresP}" for="nombresP" />
                    <h:inputText id="nombresP" value="#{profesorController.selected.nombresP}" title="#{bundle.EditProfesorTitle_nombresP}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_nombresP}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_cursoP}" for="cursoP" />
                    <h:inputText id="cursoP" value="#{profesorController.selected.cursoP}" title="#{bundle.EditProfesorTitle_cursoP}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_cursoP}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_paraleloP}" for="paraleloP" />
                    <h:inputText id="paraleloP" value="#{profesorController.selected.paraleloP}" title="#{bundle.EditProfesorTitle_paraleloP}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_paraleloP}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_correoP}" for="correoP" />
                    <h:inputText id="correoP" value="#{profesorController.selected.correoP}" title="#{bundle.EditProfesorTitle_correoP}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_correoP}"/>
                </h:panelGrid>
                <h:commandLink action="#{profesorController.update}" value="#{bundle.EditProfesorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProfesorViewLink}"/>
                <br />
                <h:commandLink action="#{profesorController.prepareList}" value="#{bundle.EditProfesorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProfesorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
