<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:form>
                <center>
                    <center><img src="img/quiz-icon.png" width="200" height="200"/></center>
                
                    <br></br>   
                 <h3 style="margin-top:0px">¿Cual es el país más grande del mundo? -- PREGUNTA 1</h3>
                 <p:selectManyCheckbox id="pregunta1" value="#{checkboxView.selectedConsoles}">
                     <f:selectItem itemLabel="Respuesta 1" itemValue="res1" />
                     <f:selectItem itemLabel="Respuesta 2" itemValue="res2" />
                     <f:selectItem itemLabel="Respuesta 3" itemValue="res3" />
                 </p:selectManyCheckbox>
                <br></br>
                
                <br></br>
                <br></br>
                    <h3 style="margin-top:0px">¿Quién escribio la Odisea? -- PREGUNTA 2</h3>
                 <p:selectManyCheckbox id="pregunta2" value="#{checkboxView.selectedConsoles}">
                     <f:selectItem itemLabel="Respuesta 1" itemValue="res1" />
                     <f:selectItem itemLabel="Respuesta 2" itemValue="res2" />
                     <f:selectItem itemLabel="Respuesta 3" itemValue="res3" />
                 </p:selectManyCheckbox>
                <br></br>
                
                <br></br>
                <br></br>
                <h3 style="margin-top:0px">¿Qué cantidad de huesos en el cuerpo humano? -- PREGUNTA 3</h3>
                 <p:selectManyCheckbox id="pregunta3" value="#{checkboxView.selectedConsoles}">
                     <f:selectItem itemLabel="Respuesta 1" itemValue="res1" />
                     <f:selectItem itemLabel="Respuesta 2" itemValue="res2" />
                     <f:selectItem itemLabel="Respuesta 3" itemValue="res3" />
                 </p:selectManyCheckbox>
                <br></br>
                
                <br></br>
                <br></br>
                <h3 style="margin-top:0px">¿Cuál es el nombre de la lengua oficial en china? -- PREGUNTA 4</h3>
                 <p:selectManyCheckbox id="pregunta4" value="#{checkboxView.selectedConsoles}">
                     <f:selectItem itemLabel="Respuesta 1" itemValue="res1" />
                     <f:selectItem itemLabel="Respuesta 2" itemValue="res2" />
                     <f:selectItem itemLabel="Respuesta 3" itemValue="res3" />
                 </p:selectManyCheckbox>
                <br></br>
                <br></br>
                </center>   
                
            </h:form>  
            <center> <p:button value="ENVIAR" outcome="index.xhtml" /> </center>  
        <!--<h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />-->
        <footer id="pie">
            <center>
                <h3><span style="border-image: initial; border: 1px solid blue;"> Grupo de Trabajo Proyecto Integrador de Saberes </span></h3>
            </center>
        </footer>
     </h:form>
    </h:body>
</html>

