<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title> Colegio Provincia de los Rios </title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <h:link outcome="/estudiantes/List" value="Show All Estudiantes Items"/>
        <br />
        <h:link outcome="/nota/List" value="Show All Nota Items"/>
        <br />
        <h:link outcome="/preguntas/List" value="Show All Preguntas Items"/>
        <br />
        <h:link outcome="/profesor/List" value="Show All Profesor Items"/>
        <br />
        <h:link outcome="/quiz/List" value="Show All Quiz Items"/>
        <br />
        <h:link outcome="/respuestas/List" value="Show All Respuestas Items"/>
        <h:form>

            <center>
                <center><img src="img/itsgg.png"/></center>
                <p:outputLabel>INSTITUTO TECNICO SUPERIOR GUAYAQUIL</p:outputLabel>
                <p:outputLabel>PROYECTO INTEGRADOR DE SABERES</p:outputLabel>
                    <!--<body bgcolor="pink" text="turquoise">-->
                    <center> <u>  <h1> <marquee>UNIDAD EDUCATIVA FISCAL PROVINCIA DE LOS RIOS</marquee> </h1> </u></center>

                <h:panelGrid id= "panel" columns= "1" border = "1" cellpadding="10" cellspacing="1">
                    <center><img src="img/colegio.jpg" width="1080" height="260"/></center>
                    </h:panelGrid>

                <h:form id="form">  
                    <p:growl id="msgs" showDetail="true" />

                    <p:accordionPanel>
                        <p:tab title="INICIO">
                            <h:panelGrid id= "panel" columns= "2" border = "1" cellpadding="10" cellspacing="1">
                                <center><img src="img/itsgg3.png"/></center>
                                    <h:outputText value="MISIÓN Somos una UNIDAD EDUCATIVA que oferta una educación de calidad en los niveles preparatorio,Básica y Bachillerato, especializados en formar personas integras, con capacidad emprendedora,
                                                  competentes en el campo laboral y personal, con una formación enriquecida en valores que garantice la equidad, democracia e integración; de esta forma entregamos ala sociedad jóvenes innovadores, comunicacdores, 
                                                  generadores de cambio con conciencia social dispuesto a la investigación y superación permanente, capaces de contribuir a crear una sociedad pacífica, emprendedora, respetuosos de la interculturalidad y diversidad." />
                                </h:panelGrid>
                            </p:tab>

                        <p:tab title="CONOCENOS">
                            <h:panelGrid id= "panel" columns= "2" border = "1" cellpadding="10" cellspacing="1">
                                <center><img src="img/descarga.jpg"/></center>
                                    <h:outputText value="VISIÓN Llegar a transformar hasta el 2021 a la UNIDAD EDUCATIVA FISCAL PROVINCIA DE LOS RIOS en una entidad educativa de excelente, con personal capacitado, motivsado e involucrado en los objetivos 
                                                  institucionales, el trabajo en equipo, con calidad y calidez, lo que permitira formar estudiantes con un nivel educativo integral, en el marco del Buen Vivir; solidarios, informados, ávidos  de conocimientos, autónomo e innovadores,
                                                  desarrollando sus habilidades, destrezas y capacidades cognitivas que faciliten la toma de decisiones con equidad y respeto, capaces de ser un ente productivo a la comunidad y la sociedad en general, mediante su desempeño a través de
                                                  los conocimientos adquiridos para lograr el desarrollo sustentable y sostenible del país." />
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="VALORES">
                                <h:panelGrid id= "panel" columns= "2" border = "1" cellpadding="10" cellspacing="1">
                                <center><img src="img/imagen1.jpg"/></center>
                                    <h:outputText value="Lograr y alcanzar en todo momento la calidad académica de las y los estudiantes desarrollando en ellos justicias, innovación y solidaridad.
                                                  Fomentar la comunicación asertiva entre los integrantes de la comunidad educativa, consciente de que del diálogo surgirán las mejores alternativas." />
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="PREGUNTAS">
                                <h:panelGrid>
                                <center><img src="img/icono.png" width="100" height="100"/></center>
                                    <p:outputLabel for="name" value="IDENTIFICATE"></p:outputLabel>
                                    <p:outputLabel for="name" value="Ingrese su Usuario: "></p:outputLabel>
                                    <p:inputText id="name" value="#{estudiante.nombre}"></p:inputText>
                                    <br></br>
                                <p:outputLabel for="pass" value="Password: "></p:outputLabel>
                                <p:inputText id="pass" value=""></p:inputText>
                                <!--<p:commandButton value="INGRESAR"></p:commandButton>-->
                                <p:button value="INGRESAR COMO PROFESOR" outcome="preguntas.xhtml" />
                                <p:button value="INCIO DE QUIZ" outcome="alumnos_preguntas.xhtml" />
                                <p:button value="REGISTRATE" outcome="estudiantes/Create.xhtml" />
                                <br></br>
                                <br></br>
                                <br></br>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="CONTACTANOS">
                            <h:panelGrid id= "panel" columns= "2" border = "1" cellpadding="10" cellspacing="1">

                                <br></br>
                                <h:outputText value="colegiofiscalprovinciadelosrios@hotmail.com" />
                                <br></br>
                                <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
                                <p:gmap center="41.381542, 2.122893" zoom="15" type="HYBRID" style="width:100%;height:400px" />
                            </h:panelGrid>
                        </p:tab>
                    </p:accordionPanel>       
                </h:form>
            </center>

            <br></br>

        </h:form>   
        <!--<h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />-->




        <br />
        <h:link outcome="/estudiantes/List" value="Show All Estudiantes Items"/>
        <br />
        <h:link outcome="/nota/List" value="Show All Nota Items"/>
        <br />
        <h:link outcome="/preguntas/List" value="Show All Preguntas Items"/>
        <br />
        <h:link outcome="/profesor/List" value="Show All Profesor Items"/>
        <br />
        <h:link outcome="/quiz/List" value="Show All Quiz Items"/>
        <br />
        <h:link outcome="/respuestas/List" value="Show All Respuestas Items"/>
    </h:body>






</html>

