<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
        <center>
            <center><img src="img/itsgg.png"/></center>
            <p:outputLabel>INGRESA TUS DATOS</p:outputLabel>
            <br></br>
            <br></br>
            <center>
                  <br></br>
                <p:outputLabel for="nom" value="NOMBRE:"></p:outputLabel>
                 <p:inputText id="nom" value=""></p:inputText>
                 <br></br>
                   <br></br>
                 <p:outputLabel for="apell" value="APELLIDOS:"></p:outputLabel>
                 <p:inputText id="apell" value=""></p:inputText>
                 <br></br>
                   <br></br>
                 <p:outputLabel for="mail" value="E-Mail:"></p:outputLabel>
                 <p:inputText id="mail" value=""></p:inputText>
                 <br></br>
                   <br></br>
                 <p:outputLabel for="ced" value="CEDULA:"></p:outputLabel>
                 <p:inputText id="ced" value=""></p:inputText>
                 <br></br>
                   <br></br>
                 <p:commandButton value="Registrar"></p:commandButton>
                 <br></br>
            </center> 
            
        </center>
            
            
            
            
         </h:form>   
        <!--<h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />-->
        <footer id="pie">
            <center>
                <h3><span style="border-image: initial; border: 1px solid blue;"> Grupo de Trabajo Proyecto Integrador de Saberes </span></h3>
            </center>
        </footer>
        
    </h:body>
</html>

