<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <style type="text/css">
                .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
                text-align: center;
            }
            </style>
               <h3 style="margin-top:0"></h3>
                 <center>
                    <p:panelGrid columns="2">
                    <f:facet name="header">
                        <img src="img\estudiante-icono.png" width="150" height="250"/>
                    </f:facet>
                                
                    <h:outputText value="Estudiante:" />
                    <h:outputText value="Gabriel Morocho" />
     
                     <h:outputText value="Curso:" />
                     <h:outputText value="Ciclo de alumno" />
     
                    <h:outputText value="Materia de Quiz:" />
                    <h:outputText value="Matematicas" />
     
                    <h:outputText value="Calificación:" />
                    <h:outputText value="98" />
                </p:panelGrid>
              </center>
        
                <h3 style="margin-top:0"></h3>
                 <center>
                    <p:panelGrid columns="2">
                    <f:facet name="header">
                        <img src="img\estudiante-icono1.png" width="150" height="250"/>
                    </f:facet>
                                
                    <h:outputText value="Estudiante:" />
                    <h:outputText value="Maria Rodriguez" />
     
                     <h:outputText value="Curso:" />
                     <h:outputText value="Ciclo de alumno" />
     
                    <h:outputText value="Materia de Quiz:" />
                    <h:outputText value="Matematicas" />
     
                    <h:outputText value="Calificación:" />
                    <h:outputText value="80" />
                </p:panelGrid>
              </center>
        
               
        </h:form>   
        <!--<h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />-->
        <footer id="pie">
            <center>
                <h3><span style="border-image: initial; border: 1px solid blue;"> Grupo de Trabajo Proyecto Integrador de Saberes </span></h3>
            </center>
        </footer>
    </h:body>
</html>

