<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title> Preguntas Quiz </title>
    </h:head>
    <h:body>

            <center>
            <p:outputLabel>BIENVENIDO DOCENTE</p:outputLabel>
                        <center><img src="img\Teachers-icon.png"/></center>
            </center>        
            
         
 
<p:stack  expanded="true">
    <p:menuitem value="INICIO" icon="img/icono-casa.jpg" outcome="index.xhtml"/>
    <p:menuitem value="NOTAS" icon="img/icon-notas.png" outcome="/nota/List"/>
  
</p:stack>  
        


   
                            <h:panelGrid id= "panel" columns= "2" border = "1" cellpadding="10" cellspacing="1">
                                <center><a href="preguntas/Edit.xhtml"><img src="img/logo_quiz.jpg"/></a></center>
                                    <h:outputText value="HAZ CLIC EN LA IMAGEN DE QUIZ, para que puedas ingresar y crear tu quiz para tus estudiantes.
                                                         Un nuevo metodo de enseñanza para tus estudiantes, asi ellos puedan interactuar con la tecnologia." />
                                </h:panelGrid>
  
  <h:panelGrid id= "panel" columns= "2" border = "1" cellpadding="10" cellspacing="1">
                                <center><a href="estudiantes/List.xhtml"><img src="img/listado.jpg"/></a></center>
                                    <h:outputText value="HAZ CLIC EN LA IMAGEN DE QUIZ, para ver el listado de tus alumnos. Podras ver los datos e ingreso de los cursos a los cuales pertenecen. " />
                                </h:panelGrid>
     

        
        <footer id="pie">
            <center>
                <h3><span style="border-image: initial; border: 1px solid blue;"> Grupo de Trabajo Proyecto Integrador de Saberes </span></h3>
            </center>
        </footer>
        
        
    </h:body>
</html>

